{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="jumbotron">
<h2>Funcionalidades do sistema</h2>
<p class="text-muted">Exclusivo do admin master. Desabilitar uma funcionalidade remove a permissão correspondente de todos os usuários que a tinham, e o campo deixa de aparecer na tela de edição de usuário.</p>

{% macro render_field(field,obr) %}
  {% if obr == True %}
    <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
  {% else %}
    <dt>{{ field.label(class="form-control-label") }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form class="needs-validation" method='POST'>
  {{ form.hidden_tag() }}

  <div class="form-group col-6">
    {{ render_field(form.funcionalidade_conv,obr=False) }}
  </div>

  <div class="form-group col-6">
    {{ render_field(form.funcionalidade_acordo,obr=False) }}
  </div>

  <div class="form-group col-6">
    {{ render_field(form.funcionalidade_instru,obr=False) }}
  </div>

  <div class="form-group col-6">
    {{ render_field(form.carga_auto,obr=False) }}
  </div>

  <div class="form-group col-4">
    {{ form.submit(class="btn btn-outline-primary") }}
  </div>
</form>

</div>
</div>
{% endblock %}
